body{
  direction: rtl;
  color: white;
  background-color: floralwhite;
}

.link{
  margin: 5px;
}

.rightButtons{
  margin: 8px;
}

.logo{
  border-radius: 10px;
  width: 140px;
  margin-top: 20px;
}

.barContent {
  display: flex;
  justify-content: space-between;
  text-align: center;
}